[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/YeltsinDB"]
	path = ext/YeltsinDB
	url = https://github.com/t1meshift/YeltsinDB
[submodule "ext/libfort"]
	path = ext/libfort
	url = https://github.com/seleznevae/libfort
